.miColor{
    background-color: rgb(250, 79, 170);
}
.miFondo{
    background: linear-gradient(to right, rgb(126,122,246), rgb(18,159,255));
}
.miceleste{
    background-color: rgb(7,149,255);
}
.miverde{
    background-color: rgb(20,180,150);
}
@media (max-width: 590px){
    .miFuente{
        font-size: 90%;
    }
}
@media (max-width: 536px){
    .miFuente{
        font-size: 80%;
    }
}
@media (max-width: 490px){
    .miFuente{
        font-size: 60%;
    }
}