.main{
    max-width: 800px;
}
.miColor{
    background-color: rgb(250, 79, 170);
}
.gradiente{
    background: linear-gradient(to right, rgb(126,122,246), rgb(18,159,255));
}
.miceleste{
    background-color: rgb(7,149,255);
}
.miverde{
    background-color: rgb(20,180,150);
}
.progress{
    height: 5px;
}

